gmail-auto-label-workflow.json
{
  "meta": {
    "instanceId": "flowforge-ai-generated"
  },
  "nodes": [
    {
      "id": "telegram-trigger-node",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {
        "updates": ["message"]
      },
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "id": "function-node",
      "name": "Parse Event Details",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [500, 300],
      "parameters": {
        "functionCode": "// Extract event details from Telegram message\nconst message = items[0].json.message.text;\nconst chatId = items[0].json.message.chat.id;\n\n// Parse event title, date, time from message\nconst eventMatch = message.match(/create event (.+) on (.+) at (.+)/i);\n\nif (eventMatch) {\n  const [, title, date, time] = eventMatch;\n  return [{\n    json: {\n      title: title.trim(),\n      date: date.trim(),\n      time: time.trim(),\n      chatId: chatId,\n      originalMessage: message\n    }\n  }];\n} else {\n  return [{\n    json: {\n      error: \"Invalid format. Use: create event [title] on [date] at [time]\",\n      chatId: chatId\n    }\n  }];\n}"
      }
    },
    {
      "id": "google-calendar-node",
      "name": "Create Calendar Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [750, 200],
      "parameters": {
        "operation": "create",
        "calendarId": "primary",
        "title": "={{ $json.title }}",
        "start": "={{ $json.date }}T{{ $json.time }}:00",
        "end": "={{ $json.date }}T{{ $json.time }}:00"
      },
      "credentials": {
        "googleCalendarOAuth2": {
          "id": "1",
          "name": "Google Calendar OAuth2"
        }
      }
    },
    {
      "id": "telegram-send-node",
      "name": "Send Confirmation",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [750, 400],
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $json.chatId }}",
        "text": "✅ Calendar event created successfully!\n\nTitle: {{ $json.title }}\nDate: {{ $json.date }}\nTime: {{ $json.time }}"
      },
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot API"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Parse Event Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Event Details": {
      "main": [
        [
          {
            "node": "Create Calendar Event",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-08-02T12:00:00.000Z",
  "versionId": "1"
}